.componentTabelaDadosJson{
  padding: 10px;
  max-width: 100vw;
  background-color: #8e94f0;
}

.componentTabelaDadosJson .insertDados h1{
  display: flex;
  justify-content: center; 
  color:#1e202f;
  font-family: 'Bebas Neue', cursive;
  font-size: 50px;
}

.componentTabelaDadosJson .insertDados h2{
  display: flex;
  justify-content: center; 
  color:#000003;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
}

.componentTabelaDadosJson .insertDados form{
  display: flex;
  justify-content: center; 
  padding: 10px;
}

.insertDados{
  width: 100vw;
  justify-content:center;
  height: 70vh;
}

#filled-basic{
  color:#000003;
  width: 35vw;
}

#btnDir{
  margin-left: 15px;
  background-color: #dbd3ff;
}
table {
  padding:10px;
  margin: auto;
}

